<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.megacoffee.category.repository.CategoryMapper">

    <select id="getParentCategoryAll" resultType="com.cafe.megacoffee.category.dto.CategoryDTO">
        select
            category_id categoryId,
            NAME categoryName
        from
            category
        where
            parent_id is null
    </select>

    <select id="findAllChildCategoryById" parameterType="com.cafe.megacoffee.category.dto.CategoryDTO" resultType="com.cafe.megacoffee.category.dto.CategoryDTO">
        select *
            from (
                select
                    rowNum rnum,
                    cate.categoryId,
                    cate.categoryName,
                    cate.parentName,
                    cate.memberId,
                    cate.regDate,
                    cate.modifier,
                    cate.modDate,
                    cate.deleteYN
                from (
                    select
                        child_cate.category_id categoryId,
                        child_cate.name categoryName,
                        parent_cate.name parentName,
                        child_cate.member_id memberId,
                        to_char(child_cate.reg_date,'yyyy/MM/dd') regDate,
                        child_cate.modifier,
                        to_char(child_cate.mod_date,'yyyy/MM/dd') modDate,
                        child_cate.delete_yn deleteYN
                    from
                        category parent_cate, category child_cate
                    where
                        parent_cate.category_id = child_cate.parent_id
                    <if test='deleteYN != null and deleteYN neq ""'>
                        <if test='deleteYN eq "N"'>
                            and child_cate.delete_yn = 'N'
                        </if>
                        <if test='deleteYN eq "Y"'>
                            and child_cate.delete_yn = 'Y'
                        </if>
                    </if>
                    <if test="parentId != 0">
                    and
                        child_cate.parent_id = #{parentId}
                    </if>
                    <if test="parentId == 0">
                    and
                        child_cate.parent_id is not null
                    </if>
                    <if test="categoryName != null and categoryName neq ''">
                    and
                        child_cate.name like '%'|| #{categoryName} || '%'
                    </if>
                    <if test="searchDate.startDate != null and searchDate.startDate neq ''">
                        and
                            to_char(child_cate.reg_date, 'yyyy-MM-dd') <![CDATA[>=]]> #{searchDate.startDate}
                    </if>
                    <if test="searchDate.endDate != null and searchDate.endDate neq ''">
                        and
                            to_char(child_cate.reg_date, 'yyyy-MM-dd') <![CDATA[<=]]> #{searchDate.endDate}
                    </if>
                    order by child_cate.category_id desc
                    )
                    cate
                )
            where
                rnum between ${pagination.start+1} and ${pagination.start + pagination.length}
    </select>

    <select id="getChildCategoryTotalCount" parameterType="com.cafe.megacoffee.category.dto.CategoryDTO" resultType="int">
        select
            count(category_id)
        from
            category
        where
        1=1
        <if test='deleteYN != null and deleteYN neq ""'>
            <if test='deleteYN eq "N"'>
                and delete_yn = 'N'
            </if>
            <if test='deleteYN eq "Y"'>
                and delete_yn = 'Y'
            </if>
        </if>
        <if test="parentId != 0">
            and
                parent_id = #{parentId}
        </if>
        <if test="parentId == 0">
            and
                parent_id is not null
        </if>
        <if test="categoryName != null and categoryName neq ''">
            and
            name like '%'|| #{categoryName} || '%'
        </if>
        <if test="searchDate.startDate != null and searchDate.startDate neq ''">
            and
            to_char(reg_date, 'yyyy-MM-dd') <![CDATA[>=]]> #{searchDate.startDate}
        </if>
        <if test="searchDate.endDate != null and searchDate.endDate neq ''">
            and
            to_char(reg_date, 'yyyy-MM-dd') <![CDATA[<=]]> #{searchDate.endDate}
        </if>
    </select>

    <select id="findCategoryById" parameterType="Integer" resultType="com.cafe.megacoffee.category.dto.CategoryDTO">
        select
            category_id categoryId,
            member_id memberId,
            name categoryName,
            parent_id parentId,
            delete_yn deleteYN
        from
            category
        where
            category_id = #{categoryId}
    </select>

    <update id="save" parameterType="com.cafe.megacoffee.category.dto.CategoryDTO">
        merge into
            category cate
        using
            dual
        on (cate.category_id = ${categoryId})
        when
            matched
        then
            update
                set
                    <choose>
                        <when test="parentId != null and parentId neq ''">
                            parent_id = #{parentId},
                        </when>
                        <otherwise>
                            parent_id = null,
                        </otherwise>
                    </choose>
                    name = #{categoryName},
                    delete_yn = #{deleteYN},
                    modifier = #{memberId},
                    mod_date = sysdate
        when
            not matched
        then
        <choose>
            <when test="parentId != null and parentId neq ''">
                insert
                    (cate.category_id, cate.name, cate.member_id, parent_id)
                values
                    (category_seq.nextval,#{categoryName}, #{memberId}, #{parentId})
            </when>
            <otherwise>
                insert
                    (cate.category_id, cate.name, cate.member_id, parent_id)
                values
                    (category_seq.nextval,#{categoryName}, #{memberId}, null)
            </otherwise>
        </choose>

    </update>

    <select id="getParentCategoryTotalCount" parameterType="com.cafe.megacoffee.category.dto.CategoryDTO" resultType="int">
        select
            count(category_id)
        from
            category
        where
            parent_id is null
        <if test='deleteYN != null and deleteYN neq ""'>
            <if test='deleteYN eq "N"'>
                and delete_yn = 'N'
            </if>
            <if test='deleteYN eq "Y"'>
                and delete_yn = 'Y'
            </if>
        </if>
        <if test="categoryName != null and categoryName neq ''">
        and
            name like '%'|| #{categoryName} || '%'
        </if>
        <if test="searchDate.startDate != null and searchDate.startDate neq ''">
        and
            to_char(reg_date, 'yyyy-MM-dd') <![CDATA[>=]]> #{searchDate.startDate}
        </if>
        <if test="searchDate.endDate != null and searchDate.endDate neq ''">
        and
            to_char(reg_date, 'yyyy-MM-dd') <![CDATA[<=]]> #{searchDate.endDate}
        </if>
    </select>

    <select id="findParentCategoryAll" parameterType="com.cafe.megacoffee.category.dto.CategoryDTO" resultType="com.cafe.megacoffee.category.dto.CategoryDTO">
        select
            *
        from (
            select
                rowNum rnum,
                cate.categoryId,
                cate.categoryName,
                cate.memberId,
                cate.regDate,
                cate.modifier,
                cate.modDate,
                cate.deleteYN
            from (
                select
                    category_id categoryId,
                    name categoryName,
                    member_id memberId,
                    to_char(reg_date,'yyyy/MM/dd') regDate,
                    modifier,
                    to_char(mod_date, 'yyyy/MM/dd') modDate,
                    delete_yn deleteYN
                from
                    category
                where
                    parent_id is null
                <if test='deleteYN != null and deleteYN neq ""'>
                    <if test='deleteYN eq "N"'>
                        and delete_yn = 'N'
                    </if>
                    <if test='deleteYN eq "Y"'>
                        and delete_yn = 'Y'
                    </if>
                </if>
                <if test="categoryName != null and categoryName neq ''">
                and
                    name like '%'|| #{categoryName} || '%'
                </if>
                <if test="searchDate.startDate != null and searchDate.startDate neq ''">
                and
                    to_char(reg_date, 'yyyy-MM-dd') <![CDATA[>=]]> #{searchDate.startDate}
                </if>
                <if test="searchDate.endDate != null and searchDate.endDate neq ''">
                and
                    to_char(reg_date, 'yyyy-MM-dd') <![CDATA[<=]]> #{searchDate.endDate}
                </if>
                order by category_id desc
            )
            cate
            )
        where
            rnum between ${pagination.start+1} and ${pagination.start + pagination.length}
    </select>

    <select id="findChildCategoryByParentId" parameterType="Integer" resultType="com.cafe.megacoffee.category.dto.CategoryDTO">
        select
            category_id categoryId,
            name categoryName
        from
            category
        where
            parent_id = #{categoryId}
    </select>

</mapper>