<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.megacoffee.category.repository.CategoryMapper">

    <select id="findParentCategoryAll" resultType="com.cafe.megacoffee.category.dto.CategoryDTO">
        select
            category_id categoryId,
            NAME categoryName
        from
            category
        where
            parent_id is null
    </select>

    <select id="findAllChildCategoryById" parameterType="com.cafe.megacoffee.category.dto.CategoryDTO" resultType="com.cafe.megacoffee.category.dto.CategoryDTO">
        select *
            from (
                select
                    rowNum rnum,
                    cate.category_id categoryId,
                    cate.name categoryName,
                    case
                        when cate.parent_id = 1 then '음료'
                        when cate.parent_id = 2 then '식품'
                        when cate.parent_id = 3 then '상품'
                    end as parentName
                from (
                    select
                        *
                    from
                        category
                    where
                        1=1
                    <if test="parentId != 0">
                    and
                        parent_id = #{parentId}
                    </if>
                    <if test="parentId == 0">
                    and
                        parent_id is not null
                    </if>
                    <if test="categoryName != null or categoryName != ''">
                    and
                        name like '%'|| #{categoryName} || '%'
                    </if>
                    order by category_id desc
                    )
                    cate
                )
            where
                rnum between ${pagination.start+1} and ${pagination.start + pagination.length}
    </select>

    <select id="getTotalCount" parameterType="com.cafe.megacoffee.category.dto.CategoryDTO" resultType="int">
        select
            count(category_id)
        from
            category
        where
        1=1
        <if test="parentId != 0">
            and
                parent_id = #{parentId}
        </if>
        <if test="parentId == 0">
            and
                parent_id is not null
        </if>
        <if test="categoryName != null or categoryName != ''">
            and
                name like '%'|| #{categoryName} || '%'
        </if>
    </select>

    <select id="findChildCategoryById" parameterType="Integer" resultType="com.cafe.megacoffee.category.dto.CategoryDTO">
        select
            category_id categoryId,
            member_id memberId,
            name categoryName,
            parent_id parentId,
            case
                when parent_id = 1 then '음료'
                when parent_id = 2 then '식품'
                when parent_id = 3 then '상품'
            end as parentName
        from
            category
        where
            category_id = #{categoryId}
    </select>

    <update id="save" parameterType="com.cafe.megacoffee.category.dto.CategoryDTO">
        merge into
            category cate
        using
            dual
        on (cate.category_id = ${categoryId})
        when
            matched
        then
            update
                set
                    name = #{categoryName},
                    parent_id = #{parentId}
        when
            not matched
        then
            insert
                (cate.category_id, cate.name, cate.member_id, parent_id)
            values
                (category_seq.nextval,#{categoryName}, #{memberId}, #{parentId})
    </update>
</mapper>