<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.megacoffee.member.repository.MemberMapper">
    <resultMap id="member" type="com.cafe.megacoffee.member.dto.MemberDTO">
        <result column="member_id" property="memberId"></result>
        <result column="password" property="password"></result>
        <result column="username" property="username"></result>
        <result column="email" property="email"></result>
        <result column="member_type" property="memberType"></result>
        <result column="permit_status" property="permitStatus"></result>
        <result column="member_point" property="memberPoint"></result>
        <result column="delete_yn" property="deleteYN"></result>
    </resultMap>

    <insert id="createMember" parameterType="com.cafe.megacoffee.member.dto.MemberDTO">
        insert into
            Member
        values (
                    #{memberId},
                    #{password},
                    #{username},
                    #{email},
                    #{memberType},
                    #{permitStatus},
                    0,
                    'N'
                )
    </insert>

    <select id="hasMemberById" parameterType="String" resultType="int">
        select
            count(member_id)
        from
            Member
        where
            member_id = #{memberId}
    </select>

    <select id="findMemberByIdWithPassword" parameterType="com.cafe.megacoffee.member.dto.MemberDTO" resultMap="member">
        select
            *
        from
            Member
        where
            member_id = #{memberId}
        and
            password = #{password}
        and
            delete_yn = 'N'
    </select>

    <select id="findAllMember" parameterType="com.cafe.megacoffee.member.dto.MemberDTO" resultType="com.cafe.megacoffee.member.dto.MemberDTO">
        select
            *
        from (
            select
                rowNum rnum,
                member.*
            from (
                select
                    member_id memberID,
                    username,
                    email,
                    member_type memberType,
                    permit_status permitStatus,
                    delete_yn deleteYN
                from
                    member
                where
                    member_type != 'ADMIN'
                <if test="memberType.name() neq 'NONE'">
                    and
                        member_type = #{memberType}
                </if>
                <if test="permitStatus.name() neq 'NONE'">
                    and
                        permit_status = #{permitStatus}
                </if>
                <if test='deleteYN != null and deleteYN neq ""'>
                    <if test='deleteYN eq "N"'>
                        and delete_yn = 'N'
                    </if>
                    <if test='deleteYN eq "Y"'>
                        and delete_yn = 'Y'
                    </if>
                </if>
                <if test="username != null and username neq ''">
                    and username like '%'|| #{username} || '%'
                </if>
                 ) member
            )
            where
                rnum between ${pagination.start+1} and ${pagination.start + pagination.length}
    </select>

    <select id="findAllMemberCount" parameterType="com.cafe.megacoffee.member.dto.MemberDTO" resultType="int">
        select
            count(member_id)
        from
            member
        where
            member_type != 'ADMIN'
        <if test="memberType.name() neq 'NONE'">
            and
            member_type = #{memberType}
        </if>
        <if test="permitStatus.name() neq 'NONE'">
            and
                permit_status = #{permitStatus}
        </if>
        <if test='deleteYN != null and deleteYN neq ""'>
            <if test='deleteYN eq "N"'>
                and delete_yn = 'N'
            </if>
            <if test='deleteYN eq "Y"'>
                and delete_yn = 'Y'
            </if>
        </if>
        <if test="username != null and username neq ''">
            and username like '%'|| #{username} || '%'
        </if>
    </select>

    <select id="findPermitStatusWaitMember" parameterType="com.cafe.megacoffee.member.dto.MemberDTO" resultType="com.cafe.megacoffee.member.dto.MemberDTO">
        select
            *
        from (
            select
            rowNum rnum,
            member.*
            from (
                select
                    member_id memberID,
                    username,
                    email,
                    member_type memberType,
                    permit_status permitStatus,
                    delete_yn deleteYN
                from
                    member
                where
                    member_type = 'BUYER'
                and
                    delete_yn = 'N'
                and
                    permit_status = 'WAIT'
                <if test="username != null and username neq ''">
                    and username like '%'|| #{username} || '%'
                </if>
            ) member
        )
        where
            rnum between ${pagination.start+1} and ${pagination.start + pagination.length}
    </select>

    <select id="findPermitStatusWaitMemberCount" parameterType="com.cafe.megacoffee.member.dto.MemberDTO" resultType="int">
        select
            count(member_id)
        from
            member
        where
            member_type = 'BUYER'
        and
            delete_yn = 'N'
        and
            permit_status = 'WAIT'
        <if test="username != null and username neq ''">
            and username like '%'|| #{username} || '%'
        </if>
    </select>

    <update id="updatePermitStatusToWait" parameterType="com.cafe.megacoffee.member.dto.MemberDTO">
        update
            member
        set
            permit_status = #{permitStatus},
            member_type = #{memberType}
        where
            member_id = #{memberId}
    </update>

    <select id="findMemberStatusByManager" resultType="com.cafe.megacoffee.member.dto.MemberDTO">
        select
            member_id memberId,
            username
        from
            member
        where
            member_type = 'MANAGER'
        and
            delete_yn = 'N'
    </select>

    <select id="findMemberById" parameterType="String" resultType="com.cafe.megacoffee.member.dto.MemberDTO">
        select
            member_id memberId,
            username,
            email,
            member_type memberType,
            permit_status permitStatus,
            delete_yn deleteYN
        from
            member
        where
            member_id = #{memberId}
    </select>

    <update id="updateMember" parameterType="com.cafe.megacoffee.member.dto.MemberDTO">
        update
            member
        set
            username = #{username},
            email = #{email},
            member_type = #{memberType},
            permit_status = #{permitStatus},
            delete_yn = #{deleteYN}
        where
            member_id = #{memberId}
    </update>
</mapper>
