<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <mappers>
        <mapper resource="MemberMapper.xml"/>
        <mapper resource="CategoryMapper.xml"/>
        <mapper resource="StoreMapper.xml"/>
        <mapper resource="ItemMapper.xml"/>
        <mapper resource="ShoppingBasketMapper.xml"/>
        <mapper resource="OrderMapper.xml"/>
    </mappers>

</configuration>