main {}
main .content1 {
    background: url(../shop_img/img.png) center no-repeat;
    background-size: cover;
}
main .content1 div {
    width: 100%; height: 600px; background: rgba(0, 0, 0, 0.25);
    display: flex; flex-flow: column nowrap; align-items: center;
    justify-content: center;
}
main .content1 div p {letter-spacing: -0.02em;}
main .content1 div p:nth-child(1) {
    color: #FDD000; font-weight: 700; font-size: 3.125rem;
}
main .content1 div p:nth-child(2) {
    color: #fff; font-weight: 700; font-size: 1.875rem;
    margin-top: 50px;
}
/* ================================================================== */
.content2 {
    padding: 10px 0;
}
.content2 div {
    display: flex; align-items: center;
    justify-content: center; text-align: center;
}
.content2 div span {
    display: inline-block;
    background: #6B2E2F;
    width: 300px; height: 3px;
}
.content2 div span:first-child {}
.content2 div span:last-child {}
.content2 div p {
    margin: 0 30px;
    letter-spacing: -0.02em; line-height: 57px;
    font-size: 1.25rem; font-weight: 700; color: #6B2E2F;
}
.content2 div p em {
    font-size: 3.5625rem; font-weight: 700;
    letter-spacing: -0.02em; color: #6B2E2F;
}
/* =========================================================== */
.content3 {
    display: flex;
    width: 1205px; margin:0 auto;
    padding: 100px 0; justify-content: center;
    align-items: center;
}
.content3 .left {
    width: 1200px; /* background: url(../img/test.jpg) center no-repeat;
    background-size: cover; */
}
.content3 .left form {
    width: 100%;
    /* background: rgba(69, 41, 3, 0.4); */
    padding: 50px 0;
}
.content3 .left form fieldset {
    display: flex; flex-flow: column nowrap;
    width: 100%; align-items: center;
}
.content3 .left form fieldset label {
    font-size: 1.875rem; font-weight: 700; letter-spacing: -0.02em;
    margin-bottom: 50px; width: 1000px; text-align: center;
}
.content3 .left form fieldset label:last-child{margin-bottom: 0;}
.content3 .left form fieldset label input {
    margin:0 auto;
    display: flex; flex-flow: column nowrap;
    font-size: 1.25rem; font-weight: 500; letter-spacing: -0.02em;
    width: 60%; height: 50px;
    margin-top: 20px; border-bottom: 3px solid #969696;
    border-right: 3px solid #969696;
    border-radius: 20px; padding:0 40px;
}
.content3 .left form fieldset #parentId {
    border-style: none;
    width: 200px; padding: 10px 0;
    border-radius: 18px;
    border-bottom: 3px solid #969696;
    border-right: 3px solid #969696;
    margin-bottom: 20px;
}
.content3 .left form fieldset #parentId option {}
.content3 .left form fieldset .btn {
    width: 200px; padding: 10px; transition: all 0.5s linear;
}
.content3 .left form fieldset .btn:hover {width: 250px; border-radius: 50px 5px 50px 5px;}
.content3 .left form fieldset .btn img {width: 100%;}